*.opendb
*.db
/OpenGL/projects/OpenGL.VC.VC.opendb
/OpenGL/projects/OpenGL.VC.db
*.user
/OpenGL/projects/Debug/21_AdvancedGLSL.tlog
/OpenGL/projects/Debug/20_CubeMaps.tlog
/OpenGL/projects/Debug/1_HelloWindow.tlog
/OpenGL/projects/Debug/19_FrameBuffers.tlog
/OpenGL/projects/Debug/18_FaceCulling.tlog
/OpenGL/projects/Debug/17_Blending.tlog
/OpenGL/projects/Debug/16_Stenc.9C44AF63.tlog
/OpenGL/projects/Debug/15_DepthTesting.tlog
/OpenGL/projects/Debug/14_Model.tlog
/OpenGL/projects/Debug/13_Multi.1369B187.tlog
/OpenGL/projects/Debug/12_LightCasters.tlog
/OpenGL/projects/Debug/11_LightingMaps.tlog
/OpenGL/projects/Debug/10_Materials.tlog
/OpenGL/projects/Debug/25_Gamma.4A9CBDCE.tlog
/OpenGL/projects/Debug/24_Advan.AAA83BD1.tlog
/OpenGL/projects/Debug/23_AntiAliasing.tlog
/OpenGL/projects/Debug/22_Instancing.tlog
/OpenGL/projects/Debug/20_CubeMaps.tlog
/OpenGL/projects/Debug/1_HelloWindow.tlog
/OpenGL/projects/Debug/19_FrameBuffers.tlog
/OpenGL/projects/Debug/18_FaceCulling.tlog
/OpenGL/projects/Debug/17_Blending.tlog
/OpenGL/projects/Debug/16_Stenc.9C44AF63.tlog
/OpenGL/projects/Debug/15_DepthTesting.tlog
/OpenGL/projects/Debug/14_Model.tlog
/OpenGL/projects/Debug/13_Multi.1369B187.tlog
/OpenGL/projects/Debug/12_LightCasters.tlog
/OpenGL/projects/Debug/11_LightingMaps.tlog
/OpenGL/projects/Debug/10_Materials.tlog
/OpenGL/projects/Debug
