*.opendb
*.db
/OpenGL/projects/OpenGL.VC.VC.opendb
/OpenGL/projects/OpenGL.VC.db
/.vs
/OpenGL/projects/.vs/OpenGL/v15/Solution.VC.db-wal
/OpenGL/projects/.vs/OpenGL/v15/Solution.VC.db-shm
/OpenGL/projects/.vs/OpenGL/v15/.suo
